openpyxl
pandas
python-dotenv
inquirer
selenium
selenium-wire
selenium-stealth
undetected_chromedriver
pyinstaller
PySimpleGUI
hpack
hyperframe
h2
h11
pip
attrs
wheel
cryptography
pytz
trio
outcome
sniffio
exceptiongroup
sortedcontainers
cffi
idna
numpy
setuptools
python-dateutil
pyasn1
blessed
six
wcwidth
blinker
certifi
zstandard
readchar
pydantic
urllib3
pycparser
pyparsing
requests
instagrapi
Brotli
kaitaistruct
wsproto
websockets
